{% extends "base.html" %}


{% block title %}
控制面板
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>
                    {{ orders }}
                    <sup style="font-size: 20px">个</sup>
                </h3>

                <p>
                    订单量
                </p>


            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
            <a class="small-box-footer" href="#">
                更多
                <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-green">
            <div class="inner">
                <h3>
                    {{ products }}
                    <sup style="font-size: 20px">件</sup>
                </h3>

                <p>
                    出售中商品
                </p>


            </div>
            <div class="icon">
                <i class="ion ion-pricetags"></i>
            </div>
            <a class="small-box-footer" href="#">
                更多
                <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>
                    {{ members }}
                    <sup style="font-size: 20px">个</sup>
                </h3>

                <p>
                    新增会员
                </p>


            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a class="small-box-footer" href="#">
                更多
                <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-red">
            <div class="inner">
                <h3>
                    {{ sales }}
                    <sup style="font-size: 20px">元</sup>
                </h3>

                <p>
                    销量
                </p>


            </div>
            <div class="icon">
                <i class="ion ion-ios7-cart-outline"></i>
            </div>
            <a class="small-box-footer" href="#">
                更多
                <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="box box-primary">
            <div class="box-header">
                <div class="pull-right box-tools">
                    <button class="btn btn-primary btn-sm refresh-btn" data-toggle="tooltip"
                            data-original-title="Reload" onclick="graph();">
                        <i class="fa fa-refresh">
                        </i>
                    </button>
                    <button class="btn btn-primary btn-sm" data-widget="collapse" data-toggle="tooltip">
                        <i class="fa fa-minus">
                        </i>
                    </button>
                </div>
                <i class="fa fa-inbox"></i>

                <h3 class="box-title">
                    三十天销售量
                </h3>
            </div>
            <div class="box-body chart-responsive">
                <div class="chart">
                    <div id="salechart"></div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block js %}
<script src="../static/js/plugins/highchart/highcharts.js" type="text/javascript"></script>
<!--<script src="../static/js/plugins/highchart/highchart.grid.js" type="text/javascript"></script>-->
<script>
    graph();

    function graph() {
        $.ajax({
            url: "/graph_spline/",
            type: "GET",
            data: {days: 30},
            success: function (response) {
                var cat = response["content"][0].split(',');
                var dat = int_array(response["content"][1]);

                $('#salechart').highcharts({
                    chart: {
                        type: 'area'
                    },
                    title: {
                        text: null
                    },
                    xAxis: {
                        type: 'datetime',
                        dateTimeLabelFormats: {
                            day: '%m/%e'
                        }
                    },
                    yAxis: {
                        title: {
                            text: '金额 （元）'
                        },
                        plotLines: [
                            {
                                value: 0,
                                width: 1,
                                color: '#808080'
                            }
                        ]
                    },
                    plotOptions: {
                        area: {
                            pointStart: Date.UTC(cat[0],cat[1],cat[2]),
                            pointInterval: 24 * 60 * 60 * 1000,
                            enableMouseTracking: true
                        }
                    },
                    tooltip: {
                        formatter: function() {
                            return  Highcharts.dateFormat('%A, %m/%e', new Date(this.x))
                                    + '  <br/>' + this.y + ' 元';
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    series: [
                        {
                            name: '销量',
                            data: dat
                        }
                    ]
                });
            }
        });
    }
    function int_array(dat) {
        for (var i = 0; i < dat.length; i++) {
            dat[i] = parseInt(dat[i]);
        }
        return dat;
    }


</script>


{% endblock%}