<ul class="sidebar-menu">
    <li>
        <a href="{% url 'aobaipin.views.index' %}">
            <i class="fa fa-dashboard"></i> <span>控制面板</span>
        </a>
    </li>


    <li class="treeview">
        <a href="#">
            <i class="fa fa-bar-chart-o"></i>
            <span>数据分析</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="{% url 'analysis.views.shop_analysis' %}"><i class="fa fa-angle-double-right"></i>店铺数据分析</a></li>
            <li><a href="{% url 'analysis.views.shop_comparison' %}"><i class="fa fa-angle-double-right"></i>店铺数据对比</a></li>
        </ul>
    </li>
</ul>